<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QSWaiMai.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CDF724671F302ECB00B8F4D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDF724801F302ECC00B8F4D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDF7248B1F302ECC00B8F4D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
